@model Biblioteca.Models.Book

@{
    ViewData["Title"] = "Informações do Livro";
}

<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Informações do livro</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Título</th>
      <td>@Html.DisplayFor(model => model.Title)</td>
    </tr>
    <tr>
      <th scope="row">ISBN-13</th>
      <td>@Html.DisplayFor(model => model.ISBN)</td>
    </tr>
    <tr>
      <th scope="row">Autor</th>
      <td>@Html.DisplayFor(model => model.Author)</td>
    </tr>
    <tr>
      <th scope="row">Ano</th>
      <td>@Html.DisplayFor(model => model.ReleaseYear)</td>
    </tr>
    <tr>
      <th scope="row">Editora</th>
      <td>@Html.DisplayFor(model => model.Publisher)</td>
    </tr>
  </tbody>
</table>

<div>
    <a asp-controller="Home" asp-action="Index">Voltar a página inicial</a>
</div>